AW0895001_CoreCommon_ACE11-2/Core_Common_Peq/core/common/peq/json/PeqType.xsd

<?xml version="1.0" encoding="UTF-8"?>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.ibm.com/iib/msl/json" xmlns:tns="http://www.ibm.com/iib/msl/json">
         <xsd:complexType name="PEQCacheType">
             <xsd:sequence>
                 <xsd:element name="cache" type="tns:CacheKeyType"></xsd:element>
              </xsd:sequence>
         </xsd:complexType>

         <xsd:complexType name="CacheKeyType">
             <xsd:sequence>
                 <xsd:element name="keyEncabezado" type="xsd:string"></xsd:element>
              </xsd:sequence>
         </xsd:complexType>
    </xsd:schema>